* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f6b3;
  font-family: Arial;
  color: red;
  min-height: 200px;
}

header {
  font-size: 15px;
}

header,
form {
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input,
form button {
  padding: 20px;
  font-size: 15px;
  border: none;
  background: #fff;
}

form button {
  color: #f6b34f;
  cursor: pointer;
  opacity: 0.5;
}

form button:hover {
  opacity: 1;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  margin: 10px;
  background-color: white;
  color: black;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
}

.todo li {
  flex: 1;
}

.trash-btn {
  background: #ff567898;

  color: white;
  border: none;
  height: 57px;
  width: 30px;
  cursor: pointer;
  pointer-events: auto;
}

.complite-btn {
  background: lightblue;
  color: white;
  border: none;
  height: 57px;
  width: 30px;
  cursor: pointer;
  pointer-events: auto;
}

.todo-item {
  padding: 5%;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.fall {
  transform: translatey(8rem) rotateZ(20deg);
  opacity: 0;
}
